@import "../../index.scss";

.pictures {
  background-image: linear-gradient(
      rgba($color-primary, 0.5),
      rgba($color-primary, 0.5)
    ),
    //Weird Sass-variable clutch to work around a Sass bug
    //Read more in /src/index.scss
    url(../../resources/img/back.jpg);
  background-size: cover;

  grid-column: full-start / col-end 4;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
    padding: 6rem;
  }
}

.img--1 {
  width: 100%;
  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
  box-shadow: 0 2rem 5rem rgba(#000, 0.1);

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / span 4;
    grid-row: 1 / -1;
    height: 100%;
  }
}

.img--2 {
  width: 115%;
  grid-column: 4 / span 3;
  grid-row: 4 / span 2;
  z-index: 2;
  box-shadow: 0 2rem 5rem rgba(#000, 0.2);

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    grid-row: 1 / -1;
  }
}
