.footer {
  background-color: var(--color-secondary);
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;
}

.copyright {
  font-size: 1.4rem;
  color: var(--color-grey-light-2);
  margin: 6rem auto auto auto;
  text-align: center;
  width: 70%;
}
