@import "./HeadingGeneric.scss";

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.light {
  color: var(--color-grey-light-1);
}

.dark {
  color: var(--color-grey-dark-1);
}
